.board{
    background: url('../../../assets/userboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 22%;
    background-color: rgba(25,25,25,0.9);
    overflow-y: auto;
}

.title{
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    /* border-style: solid;
    border-color: skyblue;
    border-radius: 10px; */
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.6);
}