<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Dumb Charades</title>
</head>

<body>
    <img class="center__title" src="./img/text.gif">
    <div class="login-box">
        <div class="center__title">
          <!-- <img id="left" src="./img/left.png"> -->
          <img id="avatar" src="./img/avatar/2.png">
          <!-- <img id="right" src="./img/right.png"> -->
        </div>
        <form id="login_form">
          <div class="user-box">
            <input type="text" name="username" autocomplete="off" required>
            <label>Name</label>
          </div>
          <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create Private Room
          </button>
        </form>
      </div>
      <script src="./js/front.js"></script>
</body>

</html>