.setting {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.invite {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(30, 31, 32);
    margin-top: 50px;
    height: 30px;
    padding: auto;
    border-radius: 5px;
}

.link {
    margin: auto;
}

.link-button {
    background-color: cadetblue;
    border-width: 0px;
    border-radius: 5px;
    color: cornsilk;
    font-size: large;
    width: 20%;
}

.link-button:hover {
    background-color: rgb(87, 76, 241);
    transition: 0.3s;
}

.success {
    margin-top: 30px;
    background-color: rgb(20, 152, 212);
    box-sizing: content-box;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(4, 79, 139);
    height: 30px;
    /* padding: auto; */
}

.msg {
    margin: auto;
    color: cornsilk;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: large;
}