.control-panel {
    box-sizing: border-box;
    height: 10%;
    width: 100vw;
    display: flex;
    margin-bottom: 0;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    z-index: 100;
    background-color: rgb(11, 15, 15);
    flex-direction: row;
    padding: 10px;
}

.start {
    margin-left: 12px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex: 1 1 25%;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -moz-box-flex: 1 1 25%;
}

.center {
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-flex: 1 1 25%;
    flex: 1 1 25%;
}

.end {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 25%;
}

.icon-button {
    background-color: transparent;
    border: none;
    width: fit-content;
}

.chat-button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 10px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.chat-button-name {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-right: 10px;
}

.circle {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
}

.chat-button:hover {
    background-color: rgb(57, 57, 47);
}

.circle:hover {
    background-color: rgb(57, 57, 57);
}

i {
    box-sizing: border-box;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 10px;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
}

.pressed {
    background-color: rgb(4, 131, 170);
}

.pressed:hover {
    background-color: rgb(3, 75, 97);
}

.unread-count {
    background-color: rgb(4, 131, 170);
    border-radius: 10px;
    width: fit-content;
    padding: 0px 5px;
    height: 20px;
    margin: 10px;
}