body {
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-style: oblique;
    color: white;
    font-size: 100px;
    width: 100%;
    text-align: center;
}

header {
    background: rgb(44, 25, 101);
    width: 100%;
    opacity: 0.8;
    height: 80px;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: rgb(150, 150, 200);
    box-shadow: 3px 0px 20px black;
    display: flex;
    flex-direction: row;

}

#tittle {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    width: 100%;
    padding: 30px;
}

#title-name {
    color: white;
    text-shadow:
        0 0 10px rgb(201, 239, 248),
        0 0 21px rgb(163, 243, 253),
        0 0 42px rgb(113, 232, 253);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    padding: 27px;
}

#state {
    position: relative;
    float: right;
    padding: 15px;
}

.tab {
    color: white;
    font-size: 20px;
    padding: 30px;
    word-spacing: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-content {
    color: white;
    margin: 30px;
}

.content {
    padding: 20px;
    word-spacing: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(113, 232, 253);
}

#block {
    height: 150px;
    width: 150px;
    background-color: lightblue;
    opacity: 0.3;
}

#block:hover {
    opacity: 0.7;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 22% 22% 22% 22%;
    padding: 30px 6%;


}

.cols {
    opacity: 0.7;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 3px 3px 20px rgb(50, 50, 50);
    font-family: Helvetica;
    font-size: 1.4em;
    color: white;
    text-align: center;
    cursor: pointer;
}

.cols:hover {
    opacity: 1;
}

.container button:nth-child(1),
button:nth-child(6) {
    background-color: rgb(250, 7, 0);
}

.container button:nth-child(2),
button:nth-child(7) {
    background-color: rgb(47, 157, 243);
}

.container button:nth-child(3),
button:nth-child(8) {
    background-color: rgb(24, 90, 188);
}

.container button:nth-child(4) {
    background-color: rgb(220, 100, 60);
}

.container button:nth-child(5) {
    background-color: rgb(21, 132, 74);
}

#footer {
    height: 30px;
    padding: 0px 60px;

}

#line {
    border-top-color: darkgrey;
    border-top-width: 1px;
    border-top-style: solid;
}

#mode:hover{
    height: 55px;
    width: 55px;
}
