.timer {
    margin-left: auto;
    position: relative;
    height: 100%;
    display: block;
    background: transparent;
}

.image {
    height: 100%;
}

.time {
    font-size: xx-large;
    color: white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}