.message-div {
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
    height: fit-content;
}

.message-card {
    overflow-wrap: break-word;
    background-color: rgb(57, 58, 56);
    padding: 8px;
    width: fit-content;
    margin: 8px 5px 0px 5px;
    max-width: 80%;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    color: white;
    width: fit-content;
}

.name {
    margin: 0px;
    font-size: 15px;
    font-weight: 800;
}

.date {
    margin: 0px;
    font-size: small;
    color: rgb(148, 145, 145);
}

.message {
    /* overflow: hidden ; */
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
}

.you {
    /* right: 0px; */
    float: right;
    background-color: rgb(0, 92, 75);
}

.hide-name {
    margin-top: 2px;
}